{% extends 'base.html' %}


{% block buscador %}
<div class="jumbotron">
	<div class="container">
		<h1 class="display-3">{% block title %}Registro{% endblock %}</h1>
		<form method="post">
			<div class="form-group">
				<label for="username">Usuario</label>
				<input type="text" name="username" class="form-control form-control-lg" id="username" placeholder="Usuario">
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" name="password" class="form-control form-control-lg" id="password" placeholder="Password">
			</div>
			<div class="form-group">
				<label for="email">E-mail</label>
				<input type="email" name="email" class="form-control form-control-lg" id="email" aria-describedby="emailHelp" placeholder="E-mail">
				<small id="emailHelp" class="form-text text-muted">Nunca compartiremos su correo electrónico con nadie más.</small>
			</div>

			<div class="row">
				<button type="submit" class="btn btn-success btn-lg pull-right">Registrarme</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}

{% block content %} {% endblock %}